<div class="container-fluid actor-details">
    <div class="row">
        <div class="col-sm-12 text-center movie-details-title">
            {{ $ctrl.actor.firstName }} {{ $ctrl.actor.lastName }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-center">
            Birth Date: {{ $ctrl.actor.birthDate | filterDate }}
        </div>
        <div class="col-sm-6 text-center">
            Movies:
            <span ng-repeat="movie in $ctrl.actor.movies">
                {{ movie.name }}
            </span>
        </div>     
    </div>    
</div>