<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>MOVIES</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 movies-sidebar">
            <h3>Search Bar: </h3>
            <input class="form-control mr-sm-2" type="search" ng-model="$ctrl.search" placeholder="Search" aria-label="Search">
            <hr>
            <h3>Filter by runtime: </h3>
            <input type="number" class="form-control mr-sm-2" ng-model="$ctrl.runtimeRange.start" placeholder="From">
            <input type="number" class="form-control mr-sm-2" ng-model="$ctrl.runtimeRange.end" placeholder="To">
            <hr>
            <h3>Limit entries: </h3>
            <input type="number" class="form-control mr-sm-2" min="0" ng-model="$ctrl.limit" placeholder="Limit">
            <hr>
            <movie-add on-submit="$ctrl.addMovie(newMovie)"></movie-add>
        </div>
        <div class="col-md-9">
            <div ng-repeat="movie in $ctrl.movies | filter: $ctrl.search | filterRuntime: $ctrl.runtimeRange.start : $ctrl.runtimeRange.end | filterLimit: $ctrl.limit">
                <movie-details movie="movie"></movie-details>
                <button class="btn btn-danger" ng-click="$ctrl.deleteMovie(movie._id, $index)">Delete</button>
                <button class="btn btn-success" ui-sref="movieEdit({ movieId: movie._id })">Edit</button>
            </div>
        </div>
    </div>
</div>

